<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>

<body>
<div th:replace="/layout :: header"></div>

<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/carts/payOrder">Thanh toán đơn hàng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/user">Về trang chủ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<table id="customers">
    <thead id="content">
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá bán</th>
        <th>Ảnh</th>
        <th>Mô tả</th>
        <th>Danh mục</th>
        <th>Số lượng</th>

        <th>Tổng số tiền</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${session.cart}">
        <td th:id="name" th:text="${item.getValue().product.name}"></td>
        <td th:text="${item.getValue().product.price}"></td>
        <td><img th:src="@{${item.getValue().product.img}}" width="100" height="100" alt="Khongcoanh"/></td>
        <td th:text="${item.getValue().product.getDescription()}"></td>
        <td th:text="${item.getValue().product.category.name}"></td>
        <td  th:text="${item.getValue().quantity}">Số Lượng</td>
        <td id="price" th:text="${item.getValue().totalPrice}"></td>
        <td> <a class="delete-order cusor-point" th:data="${item.getValue().product.getId()}">Xóa</a></td>


    </tr>
    <tr>
        <td colspan="9">Total:</td>
        <td id="total" th:text="${total}"></td>
    </tr>
    </tbody>
</table>


<footer th:replace="/layout :: footer"></footer>

<script>

    $(document).on('click', '.delete-order', function (){

        let productId = $(this).attr('data');
        let data = {
            product: {id: productId},
        }

        let rowDelete = $(this).parent().parent()
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "DELETE",
            data: JSON.stringify(data),
            //tên API
            url: "/carts",
            //xử lý khi thành công
            success: function () {
                alert("Xóa thành công");
                rowDelete.remove();
            }

        });

    }) ;

</script>

</body>
</html>