<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout :: header"></div>

<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}">Trang chủ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
<!--        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">-->
<!--            <div class="block-image-product" style="position: relative">-->
<!--                <img th:src="@{'/content/' + ${product.img}}" class="img-responsive img-thumbnail"-->
<!--                     alt="không có"-->
<!--                     width="600px" height="600px">-->
<!--            </div>-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">
            <div id="form">
                <form th:object="${product} " method="POST"
                      enctype="multipart/form-data">
                    <div>
                        <label>Name</label>
                        <input type="text" th:placeholder="${product.name}" th:field="*{name}"/>
                    </div>
                    <div>
                        <label>Price</label>
                        <input type="text" th:placeholder="${product.price}" th:field="*{price}"/>
                    </div>
                    <div>
                        <label>Quantity</label>
                        <input type="text" th:placeholder="${product.quantity}" th:field="*{quantity}"/>
                    </div>
                    <div>
                        <label>Description</label>
                        <input type="text" th:placeholder="${product.description}" th:field="*{description}"/>
                    </div>
                    <div>
                        <label>Avatar</label>
                        <input type="text" th:placeholder="${product.img}" th:field="*{img}"/>
                    </div>
                    <div>
                        <label>TypeProduct</label>
                        <select th:field="*{category}">
                            <option th:each="c : ${categorys}" th:value="${c.id}" th:text="${c.name}"/>
                        </select>
                        <input type="hidden" th:field="${product.id}">
                    </div>
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>