<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head"></head>
<body>

<div th:fragment="header">
    <div class="container-fluid header" id="header" style="border-bottom: solid 4px lightgrey">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-2 col-xl-2 block-image">
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 col-xl-8 block-background">
                <h1 class="name-shop">Shop HQ</h1>
                <br>
                <div class="container-ef">
                    <div class="text"><span>Chào mừng bạn đến với shop HQ chuyên Adidas</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Trang chủ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 product">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 product">
            <div id="form">
                <form th:object="${user} " method="POST" >
                    <div  class="form-group">
                        <label>Account</label>
                        <th:block th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></th:block>
                        <input class="form-control" placeholder="Enter your account" required type="text" th:field="*{username}"/>
                    </div>
                    <div  class="form-group">
                        <label>Password</label>
                        <th:block th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></th:block>
                        <input class="form-control" placeholder="Enter your password" required type="password" th:field="*{password}"/>
                    </div>
                    <div  class="form-group">
                        <label>FullName</label>
                        <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block>
                        <input class="form-control" placeholder="Enter your name" required type="text" th:field="*{name}"/>
                    </div>
                    <div  class="form-group">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter your email"  required type="text" th:field="*{email}"/>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Create new user">
                </form>
            </div>
        </div>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>